:root {
    --font-family-reg: "Roboto-Regular", sans-serif;
    --font-family-med: "Roboto-Medium", sans-serif;
    --font-family-bol: "Roboto-Bold", sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}


body {
    background-color: #f4f4f4;
    font-family: var(--font-family-reg);
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

div {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 15px;

    @media (max-width: 1200px) {
        max-width: 890px;
        padding: 60px 10px;
    }

    @media (max-width: 900px) {
        max-width: 590px;
        padding: 60px 10px;
    }
}

.row {
    display: flex;
    justify-content: space-between;

    .main {
        max-width: 870px;
        width: 100%;
        /*background-color: #11be75;*/

        /*@media (max-width: 1280px) {*/
        /*    margin-right: 30px;*/
        /*}*/
    }

    .cards-holder {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-right: 30px;

        @media (max-width: 900px) {
            margin-right: 0;
        }

        @media (max-width: 590px) {
            display: grid;
            grid-template-columns: minmax(270px, 450px);
            justify-content: center;
        }
    }

    .sidebar {
        max-width: 270px;
        width: 100%;

        @media (max-width: 900px) {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 50;
            background-color: #fff;
            padding: 40px 15px;
            max-width: 300px;
            overflow-y: auto;
            /*height: 100vh;*/
            box-shadow: 10px 0 10px 5px rgba(0, 0, 0, 0.3);
            transform: translateX(-120%);
            transition: transform 0.5s;
        }

    }

    .sidebar-closes {
        @media (max-width: 900px) {
            transform: translateX(0%);
        }

    }
}

/* cards */
a.card__link {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s;
    opacity: 0.8;
    max-width: 270px;
    width: 100%;

    @media (max-width: 900px) {
        opacity: 1;
    }

    @media (max-width: 590px) {
        max-width: 100%;
    }

    .card {
        position: relative;
        cursor: pointer;
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;


        .card__image {
            position: relative;
            width: 100%;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                transform: scale(1);
                transition: 0.3s;

                @media (max-width: 900px) {
                    transform: none;
                }
            }
        }

        .card__badges {
            top: 10px;
            left: 15px;
            display: flex;
            width: 100%;
            align-items: center;
            gap: 10px;
            position: absolute;

            .card__badge {
                font-weight: 400;
                font-size: 14px;
                padding: 3px 10px;
                border-radius: 4px;
                color: #000;
            }

            .card__badge_yellow {
                background-color: #ffcf26;
            }

            .card__badge_green {
                background-color: #11be75;
                color: #fff;
            }
        }

        .card__content {
            position: relative;
            padding: 15px 15px 20px 15px;

            .card__title {
                margin: 0;
                font-weight: 700;
                font-size: 18px;
                color: #000;
                margin-bottom: 10px;
                line-height: 1.16;
            }

            .card____term {
                font-weight: 400;
                font-size: 14px;
                color: #000;
                margin-bottom: 10px;
                line-height: 1.14;
            }

            .card__metro {
                font-weight: 400;
                font-size: 14px;
                color: #000;
                margin-bottom: 10px;
                line-height: 1.14;
            }

            .card__metro svg {
                width: 16px;
                height: 11px;
                margin-right: 8px;
                vertical-align: center;
            }

            .card__address {
                font-weight: 400;
                font-size: 14px;
                color: #777;
                line-height: 1.14;
            }
        }
    }
}

a.card__link:hover {
    opacity: 1;
    transform: translateY(5px) scale(1.1);

    @media (max-width: 900px) {
        opacity: 1;
        transform: none;
    }
}

.show-more {
    width: 100%;
    background: #e5e5e5;
    border-radius: 4px;
    height: 80px;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 18px;
    color: #4290c9;
    outline: none;
    cursor: pointer;
    transition: 0.3s linear;
    transform: scale(1);

    @media (max-width: 900px) {
        transform: none;
    }

    svg {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        transition: 0.3s linear;
    }
}

.show-more:hover {
    box-shadow: 0 10px 10px #aaa9a9;

    @media (max-width: 900px) {
        box-shadow: none;
    }

    svg {
        transform: rotate(270deg);
    }
}

/*sidebar*/

.widget {
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;

    @media (max-width: 900px) {
        margin-bottom: 20px;
    }

    .widget__title {
        position: relative;
        width: 100%;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16;
        color: #000;
        margin-bottom: 20px;
        cursor: pointer;
        transition: transform 0.3s;

        @media (max-width: 900px) {
            margin-bottom: 15px;
        }
    }


    label {
        cursor: pointer;
    }

    .widget__title::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
        background-image: url("../images/chevron-up.svg");
        background-repeat: no-repeat;
        background-size: initial;
        transition: transform 0.3s;
    }

    .widget__title_down {
        position: relative;
        transition: transform 0.3s;
    }

    .widget__title_down::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateY(-50%) rotate(180deg);
        background-image: url("../images/chevron-up.svg");
        background-repeat: no-repeat;
        background-size: initial;
        transition: transform 0.3s;
    }

    .widget__body {
        width: 100%;

        .location {
            border-radius: 4px;
            border: 1px solid #d6d6d6;
            overflow: hidden;

            .location__row {
                display: flex;

                input {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    appearance: none;
                    width: 1px;
                    height: 1px;
                }

                .location__checkbox:checked + .location__btn {
                    background-color: #ffcf26;
                }

                .location__checkbox:checked + .location__btn:hover {
                    background-color: #fbe8a2;

                }

                .location__btn {
                    text-align: center;
                    font-family: inherit;
                    background-color: transparent;
                    border: none;
                    height: 48px;
                    line-height: 48px;
                    color: #3c3c3c;
                    font-size: 14px;
                    font-weight: 500;
                    width: calc(100% / 4);
                    cursor: pointer;
                    transition: 0.3s linear;
                }

                .location__btn:hover {
                    background-color: #fbe8a2;
                    box-shadow: 0 10px 10px #aaa9a9;

                    @media (max-width: 900px) {
                        box-shadow: none;
                    }
                }

                .location__btn_all-width {
                    width: 100%;
                    font-size: 16px;
                    font-weight: 500;
                }

                .location__btn_all-width:hover {
                    transform: translateY(-5px);

                    @media (max-width: 900px) {
                        transform: none;
                    }
                }

                /*.location__btn_checked {*/
                /*    background-color: #ffcf26;*/
                /*}*/
            }

            .location__row:last-child {
                border-top: 1px solid #d6d6d6;
            }
        }

        .term-year {
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            .term-year__radio {
                display: flex;
                align-items: center;

                .term-year__radio-check {

                }

                .radio-real {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    appearance: none;
                    width: 1px;
                    height: 1px;
                }

                .term-year__radio-fake {
                    display: inline-flex;
                    width: 20px;
                    height: 20px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    border: 1px solid #777;
                    background-color: #fff;
                    margin-right: 10px;
                }

                .term-year__radio-check:checked + .term-year__radio-fake {
                    position: relative;
                    background-color: #ffe074;
                }

                .term-year__radio-check:checked + .term-year__radio-fake:after {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 8px;
                    height: 8px;
                    background-color: #3c3c3c;
                    border-radius: 100%;
                }

                .term-year__radio-check:checked + .term-year__radio-fake + .term-year__radio-title {
                    align-items: center;
                    font-family: var(--font-family-med);
                    font-weight: 500;
                    font-size: 16px;
                    color: #000;
                }

                .term-year__radio-title {
                    font-family: var(--font-family-reg);
                    font-weight: 400;
                    font-size: 16px;
                    color: #3c3c3c;
                }
            }
        }

        .option {
            width: 100%;

            .option__row {
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                margin-bottom: 15px;

                .option__btn-hidden {
                    display: none;
                }

                .option__btn-visible {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                }

                .option__btn {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    height: 20px;
                    line-height: 20px;

                    .checkbox-real {
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                        appearance: none;
                        width: 1px;
                        height: 1px;
                    }

                    .option__radio-fake {
                        position: relative;
                        border-radius: 2px;
                        border: 1px solid #777777;
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }

                    .option__radio-title {
                        display: inline-flex;
                        margin: 0;
                        padding: 0;
                        align-items: center;
                        font-family: var(--font-family-reg);
                        font-weight: 400;
                        font-size: 16px;
                        color: #3c3c3c;
                    }

                    .checkbox-real:checked + .option__radio-fake {
                        background-color: #ffe074;
                    }

                    .checkbox-real:checked + .option__radio-fake::after {
                        content: '';
                        width: 14px;
                        height: 12px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-image: url("../images/check-icon.svg");
                        background-repeat: no-repeat;
                        background-size: initial;
                    }

                    .checkbox-real:checked ~ .option__radio-title {
                        font-family: var(--font-family-med);
                        font-weight: 500;
                        color: #3c3c3c;
                    }
                }
            }

            .option__show-more {
                font-weight: 400;
                font-size: 16px;
                color: #4290c9;
                font-family: var(--font-family-reg);
                border: none;
                cursor: pointer;
                background: transparent;
            }

            .option__show-more:hover {
                color: #034170;
            }

        }

        .services__btn {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-bottom: 30px;

            .services-real {
                width: 1px;
                height: 1px;
                appearance: none;
                opacity: 0;
                visibility: hidden;
                position: absolute;
            }

            .services__radio-fake {
                display: inline-flex;
                width: 37px;
                height: 20px;
                border-radius: 10px;
                background-color: #c4c4c4;
                margin-right: 10px;
                position: relative;
                transition: 0.3s linear;
            }

            .services__radio-fake::after {
                position: absolute;
                content: "";
                width: 16px;
                height: 16px;
                background-color: #3C3C3C;
                border-radius: 100%;
                top: 50%;
                right: 48%;
                transform: translate(0, -50%);
                transition: 0.3s linear;
            }

            .services-real:checked + .services__radio-fake {
                background-color: #FFE074;
            }

            .services-real:checked + .services__radio-fake::after {
                transform: translate(98%, -50%);
            }
        }
    }
}

.widget.widget-height .widget__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.filter__btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .filter__btn {
        width: 100%;
        height: 50px;
        line-height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #000;
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid transparent;
        cursor: pointer;
        transition: 0.3s linear;

        svg {
            width: 24px;
            height: 24px;
            display: inline-flex;
            margin-right: 10px;
            transition: 0.3s linear;
        }
    }

    .btn__apply {
        background-color: #ffcf26;
    }

    .btn__apply:hover {
        background-color: #f3da81;
        box-shadow: 0 10px 10px #aaa9a9;

        @media (max-width: 900px) {
            box-shadow: none;
        }
    }

    .btn__reset {
        border-color: #d6d6d6;
    }

    .btn__reset:hover {
        box-shadow: 0 10px 10px #aaa9a9;
        transition: 0.3s linear;

        @media (max-width: 900px) {
            box-shadow: none;
        }

        svg {
            transform: rotate(90deg);
        }
    }
}

.widget:last-child {
    margin-bottom: 0;
}

.burger {
    position: absolute;
    top: 0;
    right: 5px;
    display: none;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40px;
    width: 40px;
    margin: 5px;
    flex-shrink: 0;
    cursor: pointer;
    z-index: 55;
    transition: 0.3s linear;

    @media (max-width: 900px) {
        display: flex;
    }

    .bar {
        display: flex;
        width: 30px;
        height: 2px;
        background-color: rgb(92, 91, 91);
        margin: 3px 0;
        transition: 0.1s;
    }
}

.burger-closes {

    @media (max-width: 320px) {
        right: 20px;
    }

    .bar {
        width: 30px;
        border-radius: 4px;
    }

    .bar:nth-child(1) {
        transform: rotateZ(45deg) translate(5.5px, 5.5px);
    }

    .bar:nth-child(2) {
        opacity: 0;
    }

    .bar:nth-child(3) {
        transform: rotateZ(-45deg) translate(5.5px, -5.5px);
    }
}
.hidden {
    display: none !important;
}